body
{ 
    background: linear-gradient(0deg, rgba(51,51,51,1) 10%, rgba(222,92,255,1) 35%, #de5cff 65%, rgba(51,51,51,1) 90%);
}

h1 
{ 
    color: white;
    font-family: 'Jersey 25', sans-serif;
    text-align: center;
    background-color: #454545; 
    font-size: 100px;
    padding: 13px;
    position: relative;
    top: -85px;
}

.logo img
{ 
height: 118px;
width: 180px;
position: relative;
top: 20px;
left: -15px;
}

.menu ul 
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 15px;
    color: black;
    font-family: 'Jersey 25', sans-serif;
    font-size: 30px;
    position: relative;
    top: -60px;
}
.menu a
{
    text-decoration: none;
    background-color: #d9d9d9;
    margin: 0;
    padding: 15px 20px;
    color: black;
}
.menu a:hover 
{
    background-color: #de5cff;
    color: white;
    text-decoration: none;
}




.sobre h2
{
    font-family: 'Jersey 25', sans-serif;
    font-size:25px ;
    color: #ffffff;
    padding: 15px 15px 15px 55px;
    position: relative;
    top: -10px;
}
.sobre p 
{
    font-family: 'Jersey 25', sans-serif;
    color: white;
    padding: 15px 15px 15px 30px;
    position: relative;
    top: -30px;
    font-size: 23px;
    background-color: #5656566f;
}

.TB h2
{ 
    font-family: 'Jersey 25', sans-serif;
    font-size:25px ;
    color: #ffffff;
    padding: 15px 15px 15px 55px;
    position: relative;
    top: 160px;
}
.TB p
{
    font-family: 'Jersey 25', sans-serif;
    color: white;
    padding: 15px 15px 15px 30px;
    position: relative;
    top: 140PX;
    font-size: 23px;
    background-color: #5656566f;
}


form div {
    margin-bottom: 15px;
    position: relative;
    top: 140PX;
    padding: 0px 100px;
    left: -70px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: 'Jersey 25', sans-serif;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #808080;
    border-radius: 4px;
}

button {
    background-color: #de5cff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 140PX;
    left: 30px;
    font-family: 'Jersey 25', sans-serif;
}

button:hover {
    color: #ffffff;    
}

.fim footer {
    background-color: #454545;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    top: 210PX;
    font-family: 'Jersey 25', sans-serif;
}